@font-face {
  font-family: myFirstFont;
  src: url(AristaRegular.ttf);
}


.App {
  text-align: center;
  font-size: 100px;
}

.title {
  background-color: #ffffff;
  top: 10px;
  left: 20px;
  font-size: 4rem;
  position: absolute;
}


.button {
  background-color: #ffffff;
  font-family: myFirstFont;
  width: 7em;
  height: 2em;
  border: none;
  color:#ff6565;
  padding: 15px 32px;
  font-size: 50px;
  border-radius: 5px;
  margin: 20px;
  
}

.button:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.register{
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  
  text-align: center;
  font-size: 80px;
  color: white;
 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header '
    ' main right '
    'menu footer'
    ;
  grid-gap: 10px;
  color: white;
  font-size: 40px;
  padding: 10px;
  justify-content: center;
}

.grid-container > div {
 
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body { margin:0px; }