@font-face {
  font-family: myFirstFont;
  src: url(AristaRegular.ttf);
}


body {
  margin: 0;
  font-family: myFirstFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: myFirstFont;
}
